Repository lilisse/printlinter: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest_md, alltest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Precommit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
      - id: check-merge-conflict
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      # TODO: rehabilitated this hook
      # - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
  # Formater
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/ambv/black
    rev: 22.6.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--target-version, py310]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        language_version: python3.10
        args: [-wi, "3"]
  - repo: local
    hooks:
      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
  # Linter
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy -p py_linq_sql --config-file pyproject.toml
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint --rcfile=pyproject.toml py_linq_sql/
        language: system
        pass_filenames: false
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.3
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: flakehell
        name: flakehell
        entry: flakehell lint py_linq_sql/
        language: system
        pass_filenames: false
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.5.0
    hooks:
      - id: markdownlint-cli2
        args: ["**/*.md", "#node_modules"]
  # Tests
  - repo: local
    hooks:
      - id: doctest_md
        name: doctest in md
        entry: python3 -m doctest -o ELLIPSIS -o NORMALIZE_WHITESPACE
        language: system
        types: [markdown]
        pass_filenames: true
  - repo: local
    hooks:
      - id: alltest
        name: pytest and xdoctest
        entry: python3 -m pytest -v
        exclude: docs/api
        language: system
        types: [python]
        pass_filenames: false

code good need to tests and convert it to a real executable
  .vscode/settings.json
  cli_app/__init__.py
  cli_app/__pycache__/__init__.cpython-310.pyc
  cli_app/__pycache__/cli.cpython-310.pyc
  cli_app/cli.py
  justfile
  main.py
  poetry.lock
  py-printlinter/__init__.py
  py_printlinter/__init__.py
  py_printlinter/__pycache__/__init__.cpython-310.pyc
  py_printlinter/__pycache__/classes.cpython-310.pyc
  py_printlinter/__pycache__/ignored_processing.cpython-310.pyc
  py_printlinter/__pycache__/parser.cpython-310.pyc
  py_printlinter/__pycache__/visitor.cpython-310.pyc
  py_printlinter/classes.py
  py_printlinter/ignored_processing.py
  py_printlinter/parser.py
  py_printlinter/visitor.py
  pyproject.toml
  tests/toto1.py
  tests/toto2/toto3.py
Due: alltest

code good need to tests and convert it to a real executable
  pyproject.toml
Due: none

fix ingored lines with multiple file
  cli_app/__pycache__/cli.cpython-310.pyc
  cli_app/cli.py
  py_printlinter/__pycache__/ignored_processing.cpython-310.pyc
  py_printlinter/__pycache__/parser.cpython-310.pyc
Due: alltest

tests
  .coverage
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  README.md
  cli_app/__init__.py
  cli_app/__pycache__/__init__.cpython-310.pyc
  cli_app/__pycache__/cli.cpython-310.pyc
  cli_app/cli.py
  main.py
  poetry.lock
  py_printlinter/__init__.py
  py_printlinter/__pycache__/__init__.cpython-310.pyc
  py_printlinter/__pycache__/classes.cpython-310.pyc
  py_printlinter/__pycache__/ignored_processing.cpython-310.pyc
  py_printlinter/__pycache__/parser.cpython-310.pyc
  py_printlinter/__pycache__/visitor.cpython-310.pyc
  py_printlinter/classes.py
  py_printlinter/parser.py
  py_printlinter/visitor.py
  pyproject.toml
  tests/__init__.py
  tests/cli/test_command.py
  tests/conftest.py
  tests/core/__init__.py
  tests/core/conftest.py
  tests/core/test_classes.py
  tests/core/test_ignored_processing.py
  tests/core/test_parser.py
  tests/core/test_visitor.py
  tests/input_files/toto2/toto3.py
  tests/input_files/toto4/toto5.py
  tests/input_files/toto_0.py
  tests/input_files/toto_1.py
Due: doctest_md, alltest

add gitignore
  .coverage
  .gitignore
  poetry.lock
  pyproject.toml
  tests/cli/test_command.py
Due: alltest

refactor tests
  .coverage
  README.md
  cli_app/__init__.py
  cli_app/cli.py
  main.py
  tests/cli/test_command.py
  tests/conftest.py
  tests/core/conftest.py
  tests/core/test_parser.py
  tests/core/test_visitor.py
  tests/testing_files/toto2/toto3.py
  tests/testing_files/toto4/toto5.py
  tests/testing_files/toto_0.py
  tests/testing_files/toto_1.py
Due: doctest_md, alltest

can detect and ignore pprint
  .vscode/settings.json
  README.md
  justfile
  poetry.lock
  py_printlinter/classes.py
  py_printlinter/parser.py
  py_printlinter/visitor.py
  pyproject.toml
  tests/cli/test_command.py
  tests/core/conftest.py
  tests/core/test_classes.py
  tests/core/test_ignored_processing.py
  tests/core/test_parser.py
  tests/core/test_visitor.py
  tests/testing_files/mixed/mixed0.py
  tests/testing_files/mixed/mixed1/mixed2.py
  tests/testing_files/pprint/pprint0.py
  tests/testing_files/pprint/pprint1.py
  tests/testing_files/pprint/pprint2/pprint3.py
  tests/testing_files/pprint/pprint4/pprint5.py
  tests/testing_files/print/toto2/toto3.py
  tests/testing_files/print/toto4/toto5.py
  tests/testing_files/print/toto_0.py
  tests/testing_files/print/toto_1.py
Due: doctest_md, alltest

doc
  for_imported_print_version.md
  pyproject.toml
Due: doctest_md

can detect and ignore sys.stdout.write and stdout.write
  README.md
  for_imported_print_version.md
  py_printlinter/classes.py
  py_printlinter/visitor.py
  tests/core/conftest.py
  tests/core/test_classes.py
  tests/core/test_ignored_processing.py
  tests/core/test_parser.py
  tests/core/test_visitor.py
  tests/testing_files/mixed/mixed0.py
  tests/testing_files/mixed/mixed1/mixed2.py
  tests/testing_files/sys/stdout/write/stdout0.py
  tests/testing_files/sys/stdout/write/stdout1.py
  tests/testing_files/sys/stdout/write/stdout2/stdout3.py
  tests/testing_files/sys/stdout/write/stdout4/stdout5.py
Due: doctest_md, alltest

add a license
  LICENSE.md
  README.md
Due: doctest_md

can detect and ignore sys.stderr.write and stderr.write
  README.md
  py_printlinter/classes.py
  py_printlinter/visitor.py
  tests/core/conftest.py
  tests/core/test_classes.py
  tests/core/test_ignored_processing.py
  tests/core/test_parser.py
  tests/core/test_visitor.py
  tests/testing_files/sys/stderr/write/stderr0.py
  tests/testing_files/sys/stderr/write/stderr1.py
  tests/testing_files/sys/stderr/write/stderr2/stderr3.py
  tests/testing_files/sys/stderr/write/stderr4/stderr5.py
Due: doctest_md, alltest

Feature/writelines for stdout and stderr
  README.md
  py_printlinter/classes.py
  py_printlinter/visitor.py
  tests/core/conftest.py
  tests/core/test_classes.py
  tests/core/test_ignored_processing.py
  tests/core/test_parser.py
  tests/core/test_visitor.py
  tests/testing_files/sys/stderr/writelines/stderr0.py
  tests/testing_files/sys/stderr/writelines/stderr1.py
  tests/testing_files/sys/stderr/writelines/stderr2/stderr3.py
  tests/testing_files/sys/stderr/writelines/stderr4/stderr5.py
  tests/testing_files/sys/stdout/writelines/stdout0.py
  tests/testing_files/sys/stdout/writelines/stdout1.py
  tests/testing_files/sys/stdout/writelines/stdout2/stdout3.py
  tests/testing_files/sys/stdout/writelines/stdout4/stdout5.py
Due: doctest_md, alltest

refactor todolist
  README.md
Due: doctest_md

refactor todolist 2
  README.md
Due: doctest_md

Feature/ignore a whole file
  README.md
  cli_app/cli.py
  for_imported_print_version.md
  py_printlinter/__init__.py
  py_printlinter/classes.py
  py_printlinter/ignored_processing.py
  py_printlinter/parser.py
  tests/core/conftest.py
  tests/core/parser/__init__.py
  tests/core/parser/conftest.py
  tests/core/parser/test_get_ignored_files__with_ignored_files.py
  tests/core/parser/test_get_ignored_lines__with_ignored_lines.py
  tests/core/parser/test_get_ignored_lines__without_ignored_files.py
  tests/core/parser/test_get_ignored_lines__without_ignored_lines.py
  tests/core/parser/test_miscellaneous.py
  tests/core/parser/test_parse_file.py
  tests/core/test_classes.py
  tests/core/test_ignored_processing.py
  tests/core/test_visitor.py
  tests/testing_files/ignored_files/disable_in_wrong_place.py
  tests/testing_files/ignored_files/ignore_all.py
  tests/testing_files/ignored_files/ignore_nothing.py
  tests/testing_files/ignored_files/ignore_ppl000.py
  tests/testing_files/ignored_files/ignore_ppl001.py
  tests/testing_files/ignored_files/ignore_ppl002.py
  tests/testing_files/ignored_files/ignore_ppl003.py
  tests/testing_files/ignored_files/ignore_ppl004.py
  tests/testing_files/ignored_files/ignore_ppl005.py
  tests/testing_files/ignored_files/ignore_ppl006.py
  tests/testing_files/mixed/mixed1/mixed2.py
Due: doctest_md, alltest

use config
  README.md
  cli_app/cli.py
  py_printlinter/ignored_processing.py
  py_printlinter/parser.py
  tests/cli/__init__.py
  tests/cli/config.yml
  tests/cli/test_command.py
  tests/config/test_disabled_rules.py
  tests/core/parser/test_parse_file.py
  tests/core/test_ignored_processing.py
Due: doctest_md, alltest

clean some todo
  cli_app/cli.py
  py_printlinter/classes.py
  py_printlinter/parser.py
  tests/cli/test_command.py
  tests/core/conftest.py
  tests/core/parser/conftest.py
  tests/core/parser/test_get_ignored_files__with_ignored_files.py
  tests/core/test_ignored_processing.py
  tests/testing_files/ignored_files/disable_valid_but_not_in_first_line.py
Due: alltest

Add changelog, reamde and todo
  .pre-commit-config.yaml
  CHANGELOG.md
  TODO.md
  doc/changelog/CHANGELOG.fr.md
  doc/readme/README.fr.md
  for_imported_print_version.md
  poetry.lock
  pyproject.toml
Due: doctest_md

modify md
  README.md
  TODO.md
  doc/readme/README.fr.md
Due: doctest_md

modify md
  TODO.md
Due: doctest_md

modify md
  CHANGELOG.md
Due: doctest_md

from gitlab to github
  .pre-commit-config.yaml
  CHANGELOG.md
  cli_app/cli.py
  justfile
  printlinter/__init__.py
  printlinter/classes.py
  printlinter/config.py
  printlinter/ignored_processing.py
  printlinter/parser.py
  printlinter/visitor.py
  pyproject.toml
  tests/cli/test_command.py
  tests/config/test_config.py
  tests/config/test_disabled_rules.py
  tests/conftest.py
  tests/core/conftest.py
  tests/core/parser/test_get_ignored_files__with_ignored_files.py
  tests/core/parser/test_get_ignored_lines__with_ignored_lines.py
  tests/core/parser/test_get_ignored_lines__without_ignored_files.py
  tests/core/parser/test_get_ignored_lines__without_ignored_lines.py
  tests/core/parser/test_miscellaneous.py
  tests/core/parser/test_parse_file.py
  tests/core/test_classes.py
  tests/core/test_ignored_processing.py
  tests/core/test_visitor.py
  tests/testing_files/config/auto/take_default/readme.md
Due: doctest_md, alltest

linter can be launch on file
  .pre-commit-config.yaml
  README.md
  cli_app/cli.py
  doc/readme/README.fr.md
  tests/cli/test_command.py
Due: doctest_md, alltest

Add config to create an installable executable
  cli_app/__main__.py
  cli_app/main.py
  main.py
  pyproject.toml
Due: alltest

Add config to create an installable executable 2
  pyproject.toml
Due: none

Add config to create an installable executable 3
  poetry.lock
  pyproject.toml
Due: none

add progress bar
  CHANGELOG.md
  cli_app/cli.py
Due: doctest_md, alltest

add default ignored repositories
  .gitignore
  CHANGELOG.md
  README.md
  cli_app/cli.py
  create_ignored_rep_for_test.sh
  doc/readme/README.fr.md
  justfile
  printlinter/__init__.py
  printlinter/config.py
  tests/cli/test_command.py
  tests/config/test_config.py
  tests/testing_files/config/ignored_rep/docs/_build/toto.py
  tests/testing_files/config/ignored_rep/share/python-wheels/toto.py
  tests/testing_files/config/ignored_rep/toto/toto.py
Due: doctest_md, alltest

translate changelog
  CHANGELOG.md
  doc/changelog/CHANGELOG.fr.md
Due: doctest_md

add link in todo for issues and millestone
  TODO.md
  doc/readme/README.fr.md
Due: doctest_md

logo
  README.md
  doc/readme/README.fr.md
  logo.png
Due: doctest_md

logo resize
  logo.png
Due: none

logo resize 2
  logo.png
Due: none

solve threads
  cli_app/cli.py
Due: alltest
