Repository lilisse/printlinter: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest_md, alltest

doctest_md:
  name: doctest in md
  entry: python3 -m doctest -o ELLIPSIS -o NORMALIZE_WHITESPACE
  language: system
  pass_filenames: true

alltest:
  name: pytest and xdoctest
  entry: pytest
  language: system
  pass_filenames: false

add default ignored repositories
  .gitignore
  CHANGELOG.md
  README.md
  cli_app/cli.py
  create_ignored_rep_for_test.sh
  doc/readme/README.fr.md
  justfile
  printlinter/__init__.py
  printlinter/config.py
  tests/cli/test_command.py
  tests/config/test_config.py
  tests/testing_files/config/ignored_rep/docs/_build/toto.py
  tests/testing_files/config/ignored_rep/share/python-wheels/toto.py
  tests/testing_files/config/ignored_rep/toto/toto.py
Due: doctest_md, alltest

local tests for ignored rep
  poetry.lock
  pyproject.toml
Due: none

translate changelog
  CHANGELOG.md
  doc/changelog/CHANGELOG.fr.md
Due: doctest_md

update todo.md
  TODO.md
Due: doctest_md

way to ignore next line
  CHANGELOG.md
  TODO.md
  doc/changelog/CHANGELOG.fr.md
  justfile
  printlinter/parser.py
  tests/cli/test_command.py
  tests/core/parser/conftest.py
  tests/core/parser/test_get_ignored_files__without_ignored_files.py
  tests/core/parser/test_get_ignored_next_line.py
  tests/testing_files/ignored_next_line/ppl001.py
  tests/testing_files/ignored_next_line/ppl002.py
  tests/testing_files/ignored_next_line/ppl003.py
  tests/testing_files/ignored_next_line/ppl004.py
  tests/testing_files/ignored_next_line/ppl005.py
  tests/testing_files/ignored_next_line/ppl006.py
Due: doctest_md, alltest

refactor summary of readme
  README.md
  doc/readme/README.fr.md
Due: doctest_md

add colorized output config option
  CHANGELOG.md
  README.md
  cli_app/cli.py
  doc/changelog/CHANGELOG.fr.md
  doc/readme/README.fr.md
  printlinter/config.py
  pyproject.toml
  tests/config/test_config.py
  tests/testing_files/config/auto/take_json/printlinter.json
  tests/testing_files/config/auto/take_pyproject/pyproject.toml
  tests/testing_files/config/auto/take_toml/printlinter.toml
  tests/testing_files/config/auto/take_yaml/printlinter.yaml
  tests/testing_files/config/full_config/config.json
  tests/testing_files/config/full_config/config.yml
  tests/testing_files/config/partial_config/json/only_col.json
  tests/testing_files/config/partial_config/json/tv_and_col.json
  tests/testing_files/config/partial_config/json/tv_if_and_col.json
  tests/testing_files/config/partial_config/toml/only_col.toml
  tests/testing_files/config/partial_config/toml/tv_and_col.toml
  tests/testing_files/config/partial_config/toml/tv_if_and_col.toml
  tests/testing_files/config/partial_config/yaml/only_col.yaml
  tests/testing_files/config/partial_config/yaml/tv_and_col.yaml
  tests/testing_files/config/partial_config/yaml/tv_if_and_col.yaml
  tests/testing_files/config/partial_config/yml/only_col.yml
  tests/testing_files/config/partial_config/yml/tv_and_col.yml
  tests/testing_files/config/partial_config/yml/tv_if_and_col.yml
Due: doctest_md, alltest

typo in changelogs
  CHANGELOG.md
  doc/changelog/CHANGELOG.fr.md
Due: doctest_md

doc for ignore next line
  README.md
  doc/readme/README.fr.md
Due: doctest_md

Add a way to ignore block of code
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  cli_app/cli.py
  doc/changelog/CHANGELOG.fr.md
  doc/readme/README.fr.md
  justfile
  printlinter/__init__.py
  printlinter/classes.py
  printlinter/ignored_processing.py
  printlinter/parser.py
  pyproject.toml
  tests/config/test_disabled_rules.py
  tests/core/conftest.py
  tests/core/parser/conftest.py
  tests/core/parser/test_get_ignored_block_with_ignored_block.py
  tests/core/parser/test_get_ignored_block_without_ignored_block.py
  tests/core/parser/test_parse_file.py
  tests/core/test_classes.py
  tests/core/test_ignored_processing.py
  tests/testing_files/config/ignored_rep/docs/_build/toto.py
  tests/testing_files/ignored_block/all.py
  tests/testing_files/ignored_block/ignore_nothing.py
  tests/testing_files/ignored_block/mix.py
  tests/testing_files/ignored_block/ppl001.py
  tests/testing_files/ignored_block/ppl002.py
  tests/testing_files/ignored_block/ppl003.py
  tests/testing_files/ignored_block/ppl004.py
  tests/testing_files/ignored_block/ppl005.py
  tests/testing_files/ignored_block/ppl006.py
Due: doctest_md, alltest

black
  tests/testing_files/config/ignored_rep/docs/_build/toto.py
Due: alltest

do not re enable the linter after ignore a block of code
  CHANGELOG.md
  README.md
  doc/changelog/CHANGELOG.fr.md
  doc/readme/README.fr.md
  printlinter/classes.py
  printlinter/parser.py
  tests/cli/test_command.py
  tests/core/parser/conftest.py
  tests/core/parser/test_get_ignored_block_with_ignored_block.py
  tests/core/parser/test_get_ignored_block_without_ignored_block.py
  tests/core/parser/test_parse_file.py
  tests/core/test_ignored_processing.py
  tests/testing_files/ignored_block/no_re_enable/all.py
  tests/testing_files/ignored_block/no_re_enable/mix.py
  tests/testing_files/ignored_block/no_re_enable/ppl001.py
  tests/testing_files/ignored_block/no_re_enable/ppl002.py
  tests/testing_files/ignored_block/no_re_enable/ppl003.py
  tests/testing_files/ignored_block/no_re_enable/ppl004.py
  tests/testing_files/ignored_block/no_re_enable/ppl005.py
  tests/testing_files/ignored_block/no_re_enable/ppl006.py
  tests/testing_files/ignored_block/re_enable/all.py
  tests/testing_files/ignored_block/re_enable/ignore_nothing.py
  tests/testing_files/ignored_block/re_enable/mix.py
  tests/testing_files/ignored_block/re_enable/ppl001.py
  tests/testing_files/ignored_block/re_enable/ppl002.py
  tests/testing_files/ignored_block/re_enable/ppl003.py
  tests/testing_files/ignored_block/re_enable/ppl004.py
  tests/testing_files/ignored_block/re_enable/ppl005.py
  tests/testing_files/ignored_block/re_enable/ppl006.py
Due: doctest_md, alltest

resolve comment
  cli_app/cli.py
  printlinter/__init__.py
  printlinter/parser.py
  tests/core/parser/test_get_ignored_block_with_ignored_block.py
  tests/core/parser/test_get_ignored_block_without_ignored_block.py
Due: alltest

ignoreX become ignoredX
  cli_app/cli.py
  printlinter/__init__.py
  printlinter/classes.py
  printlinter/ignored_processing.py
  printlinter/parser.py
  printlinter/visitor.py
  tests/config/test_disabled_rules.py
  tests/core/conftest.py
  tests/core/parser/test_get_ignored_files__with_ignored_files.py
  tests/core/parser/test_get_ignored_files__without_ignored_files.py
  tests/core/parser/test_get_ignored_lines__with_ignored_lines.py
  tests/core/parser/test_get_ignored_lines__without_ignored_lines.py
  tests/core/parser/test_get_ignored_next_line.py
  tests/core/parser/test_parse_file.py
  tests/core/test_classes.py
  tests/core/test_ignored_processing.py
  tests/core/test_visitor.py
Due: alltest

<py-printlinter... become <printlinter...
  CHANGELOG.md
  README.md
  TODO.md
  doc/changelog/CHANGELOG.fr.md
  doc/readme/README.fr.md
  printlinter/parser.py
  tests/testing_files/ignored_block/no_re_enable/all.py
  tests/testing_files/ignored_block/no_re_enable/mix.py
  tests/testing_files/ignored_block/no_re_enable/ppl001.py
  tests/testing_files/ignored_block/no_re_enable/ppl002.py
  tests/testing_files/ignored_block/no_re_enable/ppl003.py
  tests/testing_files/ignored_block/no_re_enable/ppl004.py
  tests/testing_files/ignored_block/no_re_enable/ppl005.py
  tests/testing_files/ignored_block/no_re_enable/ppl006.py
  tests/testing_files/ignored_block/re_enable/all.py
  tests/testing_files/ignored_block/re_enable/mix.py
  tests/testing_files/ignored_block/re_enable/ppl001.py
  tests/testing_files/ignored_block/re_enable/ppl002.py
  tests/testing_files/ignored_block/re_enable/ppl003.py
  tests/testing_files/ignored_block/re_enable/ppl004.py
  tests/testing_files/ignored_block/re_enable/ppl005.py
  tests/testing_files/ignored_block/re_enable/ppl006.py
  tests/testing_files/ignored_files/disable_in_wrong_place.py
  tests/testing_files/ignored_files/disable_valid_but_not_in_first_line.py
  tests/testing_files/ignored_files/ignore_all.py
  tests/testing_files/ignored_files/ignore_ppl000.py
  tests/testing_files/ignored_files/ignore_ppl001.py
  tests/testing_files/ignored_files/ignore_ppl002.py
  tests/testing_files/ignored_files/ignore_ppl003.py
  tests/testing_files/ignored_files/ignore_ppl004.py
  tests/testing_files/ignored_files/ignore_ppl005.py
  tests/testing_files/ignored_files/ignore_ppl006.py
  tests/testing_files/ignored_next_line/ppl001.py
  tests/testing_files/ignored_next_line/ppl002.py
  tests/testing_files/ignored_next_line/ppl003.py
  tests/testing_files/ignored_next_line/ppl004.py
  tests/testing_files/ignored_next_line/ppl005.py
  tests/testing_files/ignored_next_line/ppl006.py
Due: doctest_md, alltest

clean todo for version 2
  cli_app/cli.py
Due: alltest

new version: 0.2.0
  CHANGELOG.md
  README.md
  TODO.md
  doc/changelog/CHANGELOG.fr.md
  doc/readme/README.fr.md
  printlinter/__init__.py
  pyproject.toml
Due: doctest_md, alltest

add tests on real projects like mypy, django, ...
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/cli/config_real_projects.yml
  tests/cli/test_command.py
  tests/cli/test_on_real_project.py
Due: doctest_md, alltest

add tests on real projects like mypy, django, ... (#32)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/cli/config_real_projects.yml
  tests/cli/test_command.py
  tests/cli/test_on_real_project.py
Due: doctest_md, alltest

refactor cli tests and install pytest-xdist
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/bdd/cli/utils_bdd.py
  tests/cli/test_on_real_project.py
  tests/conftest.py
Due: alltest

change pre-commit config
  .pre-commit-config.yaml
Due: none

fix coverage
  justfile
Due: none

Refactor/tests cli (#38)
  .pre-commit-config.yaml
  justfile
  poetry.lock
  pyproject.toml
  tests/bdd/cli/utils_bdd.py
  tests/cli/test_on_real_project.py
  tests/conftest.py
Due: alltest

error in rebasing
  tests/cli/test_on_real_project.py
Due: alltest

new version 0.3.0
  CHANGELOG.md
  README.md
  TODO.md
  pyproject.toml
Due: doctest_md

refactor cli tests and install pytest-xdist
  pyproject.toml
Due: none

Add output level config
  .pre-commit-config.yaml
  CHANGELOG.md
  cli_app/cli.py
  justfile
  printlinter/__init__.py
  printlinter/classes.py
  printlinter/config.py
  pyproject.toml
  tests/cli/test_command.py
  tests/cli/test_on_real_project.py
  tests/cli/test_utils.py
  tests/config/test_config.py
  tests/testing_files/config/cli/output_level_1.yml
  tests/testing_files/config/cli/output_level_2.yml
  tests/testing_files/config/cli/output_level_3.yml
  tests/testing_files/config/errors/output_level_4.yml
  tests/testing_files/config/full_config/config.json
  tests/testing_files/config/full_config/config.toml
  tests/testing_files/config/full_config/config.yaml
  tests/testing_files/config/full_config/config.yml
Due: doctest_md, alltest

fix version, name and exit code
  CHANGELOG.md
  cli_app/cli.py
  poetry.lock
  printlinter/__init__.py
  pyproject.toml
  tests/bdd/cli/utils_bdd.py
  tests/cli/test_command.py
  tests/cli/test_on_real_project.py
Due: doctest_md, alltest

fix version, name and exit code (#43)
  CHANGELOG.md
  cli_app/cli.py
  poetry.lock
  printlinter/__init__.py
  pyproject.toml
  tests/bdd/cli/utils_bdd.py
  tests/cli/test_command.py
  tests/cli/test_on_real_project.py
Due: doctest_md, alltest

fix version accepted and open toml file
  README.md
  doc/readme/README.fr.md
  printlinter/config.py
  pyproject.toml
  tests/config/test_config.py
  tests/testing_files/config/errors/target_version_312.yml
  tests/testing_files/config/errors/target_version_313.yml
Due: doctest_md, alltest

fix version accepted and open toml file version and changelog
  CHANGELOG.md
  cli_app/cli.py
  printlinter/__init__.py
  pyproject.toml
Due: doctest_md, alltest

Hotfix/toml for python more then 3.10 and accept version 3.12 (#44)
  CHANGELOG.md
  README.md
  cli_app/cli.py
  doc/readme/README.fr.md
  printlinter/__init__.py
  printlinter/config.py
  pyproject.toml
  tests/config/test_config.py
  tests/testing_files/config/errors/target_version_312.yml
  tests/testing_files/config/errors/target_version_313.yml
Due: doctest_md, alltest

Add output level config (#41)
  .pre-commit-config.yaml
  CHANGELOG.md
  cli_app/cli.py
  justfile
  printlinter/__init__.py
  printlinter/classes.py
  printlinter/config.py
  pyproject.toml
  tests/cli/test_command.py
  tests/cli/test_on_real_project.py
  tests/cli/test_utils.py
  tests/config/test_config.py
  tests/testing_files/config/cli/output_level_1.yml
  tests/testing_files/config/cli/output_level_2.yml
  tests/testing_files/config/cli/output_level_3.yml
  tests/testing_files/config/errors/output_level_4.yml
  tests/testing_files/config/full_config/config.json
  tests/testing_files/config/full_config/config.toml
  tests/testing_files/config/full_config/config.yaml
  tests/testing_files/config/full_config/config.yml
Due: doctest_md, alltest

sortable output config option
  CHANGELOG.md
  cli_app/cli.py
  printlinter/__init__.py
  printlinter/classes.py
  printlinter/config.py
  pyproject.toml
  tests/cli/test_utils.py
  tests/config/test_config.py
  tests/testing_files/config/errors/sorted_by_toto.yml
  tests/testing_files/config/full_config/config.json
  tests/testing_files/config/full_config/config.toml
  tests/testing_files/config/full_config/config.yaml
  tests/testing_files/config/full_config/config.yml
Due: doctest_md, alltest

refactor doc
  CHANGELOG.md
  README.md
  doc/changelog/CHANGELOG.fr.md
  doc/readme/README.fr.md
Due: doctest_md

sortable output config option (#46)
  CHANGELOG.md
  cli_app/cli.py
  printlinter/__init__.py
  printlinter/classes.py
  printlinter/config.py
  pyproject.toml
  tests/cli/test_utils.py
  tests/config/test_config.py
  tests/testing_files/config/errors/sorted_by_toto.yml
  tests/testing_files/config/full_config/config.json
  tests/testing_files/config/full_config/config.toml
  tests/testing_files/config/full_config/config.yaml
  tests/testing_files/config/full_config/config.yml
Due: doctest_md, alltest

Path conditions:
  doctest_md: any of: \.(md|markdown|mdown)$
  alltest: any of: \.py$
